<div class="main-title-width-reduced">
    <h1 class="form-large-title">UPDATE YOUR TRIP</h1>
    <p>You're going on an adventure!</p>
    <div class="breadcrumb">
        <%= link_to trips_path(@trip) do %>
            <i class="fas fa-angle-left"></i>
            <%= @trip.title %>
        <% end %>
    </div>
</div>

<%= render 'form', trip: @trip %>