<!-- Search bar -->
<%= render partial: 'shared/search/search_main', 
    locals: {
        search_title: 'Find trip inspiration',
        path: trips_path,
        search_placeholder: 'Search trips',
        elements: @search_trips,
        class_type: ''
    }
%>

<div class="js-fade">
    <%= render 'trips/index/featured_trips', trips: @trips %>

    <%= render 'trips/index/latest_trips', trips: @trips %>
</div>
