<div class="main-title-width-reduced">
    <h1 class="form-large-title">CREATE A NEW TRAVEL PLAN</h1>
    <p>You're going on an adventure!</p>
    <div class="breadcrumb">
        <%= link_to dashboards_path do %>
            <i class="fas fa-angle-left"></i>
            Manage Your Trips
        <% end %>
    </div>
</div>

<%= render 'form', trip: @trip %>