<div class="map">
    <%= render 'shared/components/map' %>
</div>

<!-- TITLE & USER BLOCKS -->
<%= render 'trips/show/trip_banner', trip: @trip %>

<%= render 'trips/show/trip_events', trip: @trip %>

<div class="page-bottom-spacer"></div>