<%= render 'shared/search/search_main', 
    locals: {
        search_title: 'Discover, destinations',
        path: locations_path,
        search_placeholder: 'Search locations',
        class_type: ''
    }
%>

<!-- Displays search results dynamically -->
<% if @query %>
    <div>
        <div class="page-container-home">
            <div class="featured-title-home d-flex justify-content-between align-items-center">
                <h4>Search results</h4>
            </div>

            <div class="card__grid">
                <% if @locations.any? %>
                    <% @locations[0..@locations.count].each do |location| %>
                        <%= render 'shared/cards/location_card', location: location %>
                    <% end %>
                <% else %>
                </div>

                <div>
                    <span>No results found</span>
                </div>
            <% end %>
        </div>
    </div>
<% end %>

<div class="horizontal-page-divider"></div>
