<div class="sender-<%= message.user.id %> message-container js-slideup chat-messages <%= message.user == current_user ? 'message-owner' : 'message-mate' %>"
  id="message-<%= message.id %>">

  <p><%= message.content %></p>
  <!-- <small><%#= message.created_at.strftime("%a %b %e at %l:%M%p") %><small> -->
</div>
