<div class="banner__image"
  style="background-image: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('<%= cl_image_path activity.photo.key %>')">
    <div class="banner-container d-flex align-items-center">
        <h1>Upcoming <%= activity.title %> Inspiration</h1>
    </div>
</div>
