<div class="page-container mb-5">
    <div class="featured-title-home">
        <h2>TOP LOCATIONS FOR <%= activity.title.upcase %></h2>
    </div>

    <div class="">
        <!-- Card Carousel -->
        <div class="card__grid">
            <% activity.activity_locations.each do |location| %>
                <%= render 'shared/cards/location_card', element: location %>
            <% end %>
        </div>
    </div>
</div>