<div class="banner__image"
  style="background-image: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('<%= cl_image_path Activity.background_image, crop: :fill %>')">
  <div class="banner-container">
    <div class="main-title d-flex">
      <p>The best of <strong>solo</strong> travelling<br>meets the best of <strong>group</strong> travel</p>
    </div>
    <% if user_signed_in? %>
      <%#= render "shared/components/button", variant: "outlined", label: "Get Started", href: itineraries_path %>
    <% else %>
      <%#= render "shared/components/button", variant: "outlined", label: "Get Started", href: new_user_registration_path %>
    <% end %>
  </div>
</div>

