<div class="mb-5"></div>

<div class="container__featured py-4">
    <div class="featured-title-home">
        <h2><%= title %></h2>
    </div>
    <%= render partial: 'shared/events/grouped_events_all', 
        locals: { 
            events: events,
            class_type: "reminder-card-text-image-stack"
        }
    %>
</div>
