<!-- Upcoming events grouped by dates -->

<% events.group_by_month { |e| e[:start_date] }.each do |eventgroup| %>
  <% if eventgroup[0] >= Date.today %>
    <h2 class="featured-time"><%= eventgroup[0].strftime("%b %Y") %></h2>
    <div class="<%= 'grid-two' if class_type == 'reminder-card-text-image-stack'%>">
      <% eventgroup[1].each do |event| %>
          <%= render partial: 'shared/cards/event_card', 
              locals: { 
                element: event,
                class_type: class_type
              }
            %>
      <% end %>
    </div>
  <% end %>
<% end %>
