<div class="main-title-width-reduced">
    <h1 class="form-large-title">ADD TO YOUR ADVENTURE</h1>
    <p>Add a new event!</p>
    <div class="breadcrumb">
        <%= link_to trip_path(@trip) do %>
            <i class="fas fa-angle-left"></i>
            <%= @trip.title %>
        <% end %>
    </div>
</div>

<%= render 'form' %>

<div class="page-bottom-spacer"></div>
