<div class="page-container">
    <%= render 'events/show/event_title', event: @event %>

    <div class="container__event">

        <%= render 'events/show/event_description', event: @event %>

        <%= render 'events/show/event_organiser', event: @event %>

        <%= render 'events/show/event_details', event: @event %>
    </div>
</div>