<%= render 'dashboards/show/favorite_events', fav_events: @fav_events %>

<div class="mt-5 mb-5 horizontal-page-divider almost-white-background"></div>

<%= render 'dashboards/show/favorite_trips', fav_trips: @fav_trips %>

