<div class="pb-5">
    <%= render 'shared/components/mateup_header' %>

    <% @user.event_registrations.each do |registration| %>
        <% if registration.status.present? %>
            <div class="js-registration-mates" data-registration-id="<%= registration.id %>">
                <%= render 'shared/components/mateup_row', element: registration %>
            </div>
        <!-- SHOW EMPTY STATE IF NO EVENTS -->
        <% else %>
            <div class="empty-state pt-5 pb-5 mt-5 mb-5">
                <p><strong>You have signed up for no events!</strong></p>
            </div>
        <% end %>

    <% end %>
</div>