<div class="itinerary">

    <% if @events.empty? %>
        <div class="empty-state pt-5 pb-5 mt-5 mb-5">
            <p><strong>You have 0 travel plans</strong></p>
        </div>
    <% else %>
        <div class="container__dashboard">
            <div class="display__itinerary">
                <%= render partial: 'shared/events/grouped_events_all', 
                    locals: { 
                        events: @events,
                        user: @user,
                        class_type: "reminder-card-text-image"
                    }
                %>
            </div>

            <div class="mt-4">
                <div id="js-calendar" class="dash__calendar mb-5">
                    <%= render 'locations/by_location/calendar_locations', location_events: @events %>
                </div>

                <div class="map">
                    <%= render 'shared/components/map' %>
                </div>
            </div>
        </div>
    <% end %>

</div>
