<%= render 'pages/discover/upcoming_events' %>
<%= render 'pages/discover/benefits' %>

<div class="horizontal-page-divider"></div>

<%= render 'pages/discover/discover_locations' %>

<div class="horizontal-page-divider almost-white-background"></div>
<%#= render 'discover_trips' %>

