  <div class="benefit-card">
    <div class="benefits-icon">
      <i class="fas <%= icon %>"></i>
    </div>
    <div class="benefits-text-header"><%= text_header %></div>
    <div class="benefits-text"><%= text_main %></div>
    <div>
      <%= link_to text_button, path, class: "btn btn-outlined" %>
    </div>
  </div>