<!-- ACTIVITIES -->
<div class="">
  <div class="page-container-home">
    <div class="featured-title-home d-flex justify-content-between align-items-center">
      <h2>FIND THINGS TO DO</h2>
      <%= link_to "See all", activities_path, class: "btn btn-outlined" %>
    </div>

    <div class="card__grid_x4">
        <% @activities.each do |activity| %>
            <%= render 'shared/cards/activity_card', activity: activity %>
        <% end %>
    </div>
  </div>
</div>

<div class="horizontal-page-divider"></div>