<!-- UPCOMING EVENTS -->
<div class="container__featured pt-4 pb-5 dark-teal-background">
  <div class="featured-title-home-white d-flex justify-content-between align-items-center">
    <h2>UPCOMING EVENTS</h2>
    <%= link_to "See all", events_path, class: "btn btn-outlined" %>
  </div>

  <%= render 'events/featured_events' %>
</div>