.banner {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(35deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.8) 80%);

    background-size: cover;
    background-position: center;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100vw;
    margin: 0 auto;
    color: white;
    text-align: center;
    .main-title, h1 {
        margin-right: 12rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 2.4rem;
    }
    p {
        color: $lightish-gray;
        font-size: 3rem;
        font-family: Lato;
        font-weight: 300;
        text-shadow: 2px 8px 6px rgba(3, 32, 44, 0.4),
                    0px -5px 35px rgba(255,255,255,0.3);
    }
}

.banner__image {
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-color: $darkest-teal;
    justify-content: center;
    align-items: center;
    background-position: center;
    position: relative;
}

.activity-banner {
    height: 50vh;
}

// MEDIA QUERIES

@media(max-width: 1000px) {
    .banner-container {
        height: 60vh;
        .main-title, h1 {
            margin-right: 0;
        }
        p {
            font-size: 2rem;
            padding: 0 
        }
    }
}
