.container-login {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-image {
    height: 100%;
    width: 100%;
    background: linear-gradient(35deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 80%), image-url('california.jpg');
    background-position: center;
    background-size: cover;
}

// Smallest device
@media (max-width: 575px) {
    .container-login {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .login-image {
        height: 24vh;
    }
}