#videos {
    position: relative;
    border-radius: 1rem;
    margin: 0.4rem auto;
    width: 80%;
    min-height: 34vh;
    height: 100%;
    background-color: $travelmate-gray;
}

.OT_widget-container {
    border-radius: 1rem;
}

.OT_root {
    height: 100% !important;
}

.OT_subscriber {
    position: relative;
}

.OT_publisher {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 0;
    height: 50% !important;
}
