<div class="event-description-side">

    <div class="d-flex flex-row-reverse bd-highlight">
    <!-- <div> -->
        <%#= render "events/event_registration" %>
    <!-- </div> -->
    </div>


    <div>
        <!-- SIDE CARD -->
        <div class="">
            <!-- Side title section -->
            <% if event.trip.user == current_user %>
                <%#= render 'event_registration_owner' %>
            <% else %>
                <%#= render 'event_registration' %>
            <% end %>
            
            <!-- Side bottom section -->
            <%= render 'events/show/event_date', event: event %>
            <%= render 'events/show/event_spots', event: event %>
        </div>

        <%#= render 'events/show/event_registrations', event: event %>
    </div>
</div>