<div class="container__body">
  <div class="" data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
    
    <div class="featured-title">
      <h2>CHECK OUT OTHER ACTIVITIES</h2>
    </div>

    <div class="card__grid" data-infinite-scroll-target="entries">
      <%= render "activities" %>
    </div>

    <div class="mt-5 paginate" data-infinite-scroll-target="pagination">
      <%== pagy_nav(@pagy) %>
    </div>
    
  </div>
</div>

<div class="page-bottom-spacer"></div>
