<%= render 'activities/show/banner', activity: @activity %>

<%= render partial: 'activities/show/event_activities',
    locals: {
        title: 'UPCOMING HIKING EVENTS',
        activity: @activity,
        events: @activity.upcoming_events
    }
%>

<%= render partial: 'activities/show/location_activities',
    locals: {
        activity: @activity,
        location: @activity.activity_locations
    }
%>

<div class="mb-5"></div>

<%= render partial: 'activities/show/event_activities',
    locals: {
        title: 'ALL HIKING EVENTS',
        activity: @activity,
        events: @activity.events
    }
%>