<div class="approval-row approval-header align-items-center mt-5">
    <div class="table-header"><p class="title-up">REQUESTER</p></div>
    <div class="table-header"><p class="title-up">EVENT</p></div>
    <div class="table-header"><p class="title-up">REQUESTED</p></div>
    <div class="table-header"><p class="title-up">STATUS</p></div>
    <div class="table-header"><p></p></div>
</div>