<div class="approval-row approval-header align-items-center mt-5">
    <div class="table-header"><p>Requester</p></div>
    <div class="table-header"><p>Event</p></div>
    <div class="table-header"><p>Requested Date</p></div>
    <div class="table-header"><p>Status</p></div>
    <div class="table-header"><p></p></div>
</div>