<div class="page-container">
    <div class="featured-title-home">
        <h2>UPCOMING EVENTS IN <%= location.city.upcase %></h2>
    </div>
    <div class="container__dashboard">

        <div class="display__itinerary">
            <% location.events.each do |event| %>
                <% if event.start_date >= Date.today %>
                    <%= render partial: 'shared/cards/event_card', 
                        locals: { 
                            element: event,
                            class_type: 'reminder-card-text-image-stack'
                        } 
                    %>
                <% end %>
            <% end %>
        </div>
    
        <div class="">
            <div id="js-calendar" class="dash__calendar mb-5">
                <%= render 'locations/by_location/calendar_locations', location_events: location.events %>
            </div>

            <div class="map">
                <%= render 'shared/components/map' %>
            </div>
        </div>

    </div>
</div>