<div class="top__ten">
    <div class="container__featured pt-3">
    <div class="featured-title-home">
        <h2>TOP ACTIVITIES IN <%= location.city.upcase %></h2>
    </div>
    <!-- Carousel Top 10 -->
        <div class="card__grid">
        <% location.top_ten_activities[0..2].each do |activity| %>
            <div
            class="photo-card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3),
                rgba(0,0,0,0.3)),
                url('<%= image_path activity[0].photo %>')">
            <%= activity[0].title %>
            <%= link_to "", activity_path(activity[0]), class: "make-card-clickable" %>
            </div>
        <% end %>
        </div>
    </div>
</div>