<!-- Search bar -->
<%= render partial: 'shared/search/search_main', 
    locals: {
        search_title: 'Discover destinations',
        path: locations_path,
        search_placeholder: 'Search locations',
        elements: @locations
    }
%>

<!-- Featured locations -->
<div class="almost-white-background pt-4">
  <%= render 'featured_location' %>
</div>

<!-- ALL LOCATIONS -->
<div>
  <%= render 'non_featured_locations' %>
</div>