<%= render partial: 'shared/components/background', 
    locals: { 
        element: @location,
        title: @location.city
    } 
%>

<%#= render 'locations/by_location/activities_by_location', location: @location
%>

<%= render 'locations/by_location/upcoming_events', location: @location %>

<div class="page-bottom-spacer"></div>

